<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Group (default settings)</h2>
<!-- /wp:heading -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>A paragraph in a group</p>
<!-- /wp:paragraph -->

<!-- wp:cover {"overlayColor":"primary","align":"wide"} -->
<div class="wp-block-cover alignwide"><span aria-hidden="true" class="wp-block-cover__background has-primary-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size">A wide cover</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Group (explicit inherit true)</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>A paragraph in a group</p>
<!-- /wp:paragraph -->

<!-- wp:cover {"overlayColor":"primary","align":"wide"} -->
<div class="wp-block-cover alignwide"><span aria-hidden="true" class="wp-block-cover__background has-primary-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size">A wide cover</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Group (explicit inherit false)</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"inherit":false}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>A paragraph in a group</p>
<!-- /wp:paragraph -->

<!-- wp:cover {"overlayColor":"primary","align":"wide"} -->
<div class="wp-block-cover alignwide"><span aria-hidden="true" class="wp-block-cover__background has-primary-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size">A wide cover</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Group (explicit content and wide sizes)</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"inherit":false,"contentSize":"300px","wideSize":"450px"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>A paragraph in a group</p>
<!-- /wp:paragraph -->

<!-- wp:cover {"overlayColor":"primary","align":"wide"} -->
<div class="wp-block-cover alignwide"><span aria-hidden="true" class="wp-block-cover__background has-primary-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size">A wide cover</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Group (explicit inherit false with 0 gap)</h2>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0px"}},"layout":{"inherit":false}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>A paragraph in a group</p>
<!-- /wp:paragraph -->

<!-- wp:cover {"overlayColor":"primary","align":"wide"} -->
<div class="wp-block-cover alignwide"><span aria-hidden="true" class="wp-block-cover__background has-primary-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size">A wide cover</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Row (default settings)</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Paragraph A</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph B</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Row (justify center)</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Paragraph A</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph B</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Row (justify right)</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Paragraph A</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph B</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Row (justify space between)</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Paragraph A</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph B</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Row (explicit justify left)</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Paragraph A</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph B</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Row (default settings allow wrap)</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"flex"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Paragraph A</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph B</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph C</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph D</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph E</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Row (disallow wrap)</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Paragraph A</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph B</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph C</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph D</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph E</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Row (explicit allow wrap)</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Paragraph A</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph B</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph C</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph D</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph E</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Row (explicit allow wrap, gap value of 0)</h2>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Paragraph A</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph B</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph C</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph D</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph E</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Stack (default settings)</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Paragraph A</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph B</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Stack (justify center)</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Paragraph A</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph B</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Stack (justify right)</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"right"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Paragraph A</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph B</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size">Stack (explicit justify left)</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Paragraph A</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Paragraph B</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->
